/* bcconfirmpassword.css admin confirm password design styles */

/* confirm password page styles */

.login-input-wrapper #cancelbutton {
  font-size: 1.2em;
  color: #b7b7b7;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  margin-left: 6px;
  text-shadow: none;
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  border: 1px solid #3a3d41;
  box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
  background: none;
}

.login-instructions-input-wrapper {
  text-align: center;
  display: table;
  position: relative;
  color: #aaa;
  font-size: 1.2em;
  color: #b7b7b7;
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
  padding-bottom: 10px;
  text-shadow: none;
  background: none;
}

/* fin */